<nav class="navbar navbar-expand-lg navbar-light bg-color">
    <a class="navbar-brand" href="#">USER-MANAGEMENT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/index"><u>Home</u> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userinfo"><u>User Details</u></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><u>Register</u></a>
        </li>
      </ul>
    </div>
  </nav>
<!--<nav>  -->
    <!-- <div class="site-title">
        <a href="/index"><h1>Home</h1></a>
    </div>
    <ul>
        <li><a href="/userinfo" >User Info</a></li>
        <li><a href="/register">Register</a></li>
    </ul> -->
<!-- </nav> -->
