<nav>
    <div class="site-title">
        <a href="/index"><h1>Home</h1></a>
    </div>
    <ul>
        <li><a href="/userinfo" >User Info</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>
