<nav>
    <div class="site-title">
        <a href="/"><h1>Users</h1></a>
        <p>MY WEBSITE</p>
    </div>
    <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/create">Create New</a></li>
    </ul>
</nav>
