<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register user</title> 
        <link rel="stylesheet" href='/style.css'>
    </head>
    
<body>  
    <%- include('./partials/nav.ejs') %>

    <h3><%= message %></h3>

    <a href="/create">Click to register</a>

    <footer>
        Copyright &copy; User 2021
    </footer>

</body>
</html>

