<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display all users</title> 
        <link rel="stylesheet" href='/style.css'>

    </head>
    
    <body>
        <%- include('./partials/nav.ejs') %>

        <div>
            <h2>All Users</h2>
        </div>
        <br><br><br><br>
        <footer>
            Copyright &copy; User 2021
        </footer>

    </body>
</html>

