<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title> 
        <link rel="stylesheet" href='/style.css'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    
    <body>     
        <%- include('./partials/nav.ejs') %>
        <div class="header">
            <br><br>
            <h1>A warm welcome!</h1>
            <h1>User Management Portal</h1><br>
            <img src='/images/1497.png' alt="user-management" width="150" height="150">
            <div class="body">
                <h4>Manage User Information </h4> 
                <h4><span class="textHighlight">C</span>reate, <span class="textHighlight">R</span>ead 
                    <span class="textHighlight">U</span>pdate and <span class="textHighlight">D</span>elete the user information</h4>
            </div>
            <br><br>

            <br>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>
    