<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href='/style.login.css'>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h2 id="title">User Management Portal</h2>
        <h3>Sign Up Form for User</h3>
    </div>

    <!-- Login Form -->
    <form action="/userRegister", method="POST">
      <input type="text" id="firstname" class="fadeIn second" name="firstName" placeholder="First Name" required>
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email " required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <input type="text" id="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirm Password" required>
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>



  </div>
</div>