<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register user</title> 
        <link rel="stylesheet" href='/style.css'>
    </head>
<body>     
    <%- include('./partials/nav.ejs') %>
   
        <div class="container">
            <h2><u>Update info</u></h2>
            <form action="/update" method="PUT">
                <label for="firstName">First Name:</label>
                <input type ="text" id="firstName"  name="firstName">
                <br><br>
                <label for="lastName">Last Name:</label>
                <input type ="text" id="lastName" name="lastName">
                <br><br>
                <label for="email">Email:</label>
                <input type ="text" id="email" name="email" >
                <br><br>
                <label for="password">Password:</label>
                <input type ="text" id="password" name="password" >
                <br><br>
                <label for="address">Address:</label>
                <input type ="text" id="address" name="address" >
                <br><br>
                <label for="active">Active:</label>
                <input type ="text" id="active" name="active" >
                <br><br>
                <label for="mobile">Mobile:</label>
                <input type ="text" id="mobile" name="mobile" >
                <br><br>
                <label for="age">Age:</label>
                <input type ="number" id="age" name="age" >
                <br>
                <button type="submit">Submit</button>  
                
            </form>
        </div>
        <br>
        <%- include('./partials/footer.ejs') %>


    </body>
</html>
    